.App {
  text-align: center;
  font-family:  sans-serif;
  
}
.MovieCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  gap: 50px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0rem 1rem;
}

ul{
  list-style: none;
}

.link{
  color: white;
  margin-right: 3rem;
  text-decoration: none;
}
.navBar{
  position: sticky;
  top: 0px;
}